<div class='modal' id='viewCommentsModal'>
	<form>
		<div class='modal-content'>
			<a class='modal-close right green-text'><i class='material-icons small'>close</i></a>
			<h4 class="center">COMMENTS ON</h4>
			<h5 class="center" id="articleTitle"></h5>
			<br> <br>
			<h6 class="center" id="noteTitle">NO CURRENT COMMENTS</h6>
			<p class="center" id="noteBody"></p>
			</div>
			<div class='modal-footer'>
				<button class='btn cyan darken-4 white-text' id='deleteComment'>Delete</button>
			</div>
	</form>
</div>
